
// DcaSimulator.scss
.container {
    padding: 20px;
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      padding: 10px;
      background-repeat: repeat-x; // Repeat gradient vertically
  
      .col-md-4 {
        display: flex;
        flex-direction: column;
      }
  
      .col-md-8 {
        align-content: center;
    }
}
}
  

.chart-container{
  @media (max-width: 768px) {
      .dca-chart-container {
        padding: 20px;
        width: 100%; // Set the width to 100% on smaller screens
        height: 600px; // Adjust the height as needed for mobile devices
      }
  }
  border: 1px solid #ddd; // Add border to the form container
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Add shadow to the form container
}